body {
    background-color: #727072;
}
.header {
    margin-top: 32px;
    border-color: #114849;
    border-width: 10pt;
}
.formDisplay {
    text-align: center;
    text-align: left;
    border: #114849;

    
}
.questionText {
    margin: 0%;
    font-size: 15pt;
    display: inline-block;
    max-width: 40%;
}

.questionColor1 {
    background-color: #AF929D;
}

.questionColor2 {
    background-color: #D2D6EF;
}

.smallbottom {
    margin: 1px;
}

/* output objects hidden */
#python, #java, #javascript, #catlover, #doglover, #cplusplus {
    display: none
}

img {
    max-width: 50%;
    max-height: auto;
}