body {
    background-color: lightgray;
}
.questionText {
    margin: 0%;
    font-size: 15pt;
}

.questionColor1 {
    background-color: aqua;
}

.questionColor2 {
    background-color: lavender;
}

.smallbottom {
    margin: 1px;
}

/* output objects hidden */
#python, #java, #javascript, #catlover, #doglover, #cplusplus {
    display: none
}

img {
    max-width: 50%;
    max-height: auto;
}